body {
  height: 100vh;
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  max-width: 400px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background: #1f4037;
  color: white;
}