body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

a {
  color: #22c55e;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para o botão de cancelar que adicionamos */
button[style*="background: #ef4444"] {
    background-color: #ef4444 !important;
}

.evento-item:last-child {
    border-bottom: none !important;
}

button:hover {
    opacity: 0.8;
}